.layout04-div{

    min-height: 100vh;

    .container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            height: 60vh;
            width: 100%;
            display: block;
            object-fit: cover;
            transform: scaleX(-1);
        }

        .bottom{
            height: 40vh;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 30px 50px;

            max-width: 1440px;

            .h1{
                width: 65%;
                padding-right: 50px;
            }

            div{
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // align-items: flex-end;

                .base-text{
                    margin-bottom: 40px;
                    // text-align: end;
                }

                .caption{
                    width: 70%;
                    // text-align: end;
                }
            }
        }
    }
}