:root {
    /* Golden Ratio */
    --golden-ratio: 1.618;
    --fs-caption: calc(var(--fs-base) / var(--golden-ratio));
    --fs-base: 18px;
    --fs-h5: calc(var(--fs-base) * var(--golden-ratio));
    --fs-h3: calc(var(--fs-h5) * var(--golden-ratio));
    --fs-h1: calc(var(--fs-h3) * var(--golden-ratio));
}


.typography{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    .container{
        padding: 50px;
        max-width: 1024px;

        p{
            margin-bottom: 30px; 
        }
        
    }
}

.caption{
    font-size: var(--fs-caption);
    line-height: var(--golden-ratio);
    font-weight: 300;
}
.base-text{
    font-size: var(--fs-base);
    line-height: var(--golden-ratio);
    font-weight: 300;
}
.h5{
    font-size: var(--fs-h5);
    line-height: var(--golden-ratio);
    font-weight: 500;
}
.h3{
    font-size: var(--fs-h3);
    line-height: calc(var(--golden-ratio) / 1.25); 
    font-weight: 600; 
}
.h1{
    font-size: var(--fs-h1);
    line-height: calc(var(--golden-ratio) / 1.5);  
    font-weight: 700;
    
}

