.layout05-div{

    display: flex;
    justify-content: center;
    min-height: 100vh;

    .outer-container{

        // outline: 1px solid blue;
        width: 100vw;
        max-width: 1800px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .base-text{
            // outline: 1px solid green;
            max-width: 300px;
            margin-bottom: 30px;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .inner-container{

            // outline: 1px solid red;
            max-width: 800px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .h1{
                position: relative;
                top: 120px;
            }

            img{
                display: block;
                width: 100%;
                max-height: 65vh;
            }

        }

    }


}